<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<style>
  html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background-image: linear-gradient(45deg, #FFFFFF, rgb(173, 216, 230));
}
h2 {
  text-align: center;
}
 
</style>
<body>
  <h2>Available Endpoints</h2>
  <h4>Note: hospital-name should be the name of the hospital you are looking for</h4>
  <h4>Type /hospital-name/whole to get all the information for that hospital</h4>
  <h3>Specific Endpoints</h3>
  <h4>Type /hospital-name/FacilityID </h4>
    <h4>Type /hospital-name/FacilityName </h4>
        <h4>Type /hospital-name/Address </h4>
            <h4>Type /hospital-name/City </h4>
                <h4>Type /hospital-name/State </h4>
                    <h4>Type /hospital-name/ZIPCode </h4>
                        <h4>Type /hospital-name/CountyName </h4>
                            <h4>Type /hospital-name/PhoneNumber</h4>
                                <h4>Type /hospital-name/HospitalType</h4>
                                
<h4>Type /hospital-name/HospitalOwnership </h4>
    <h4>Type /hospital-name/EmergencyServices</h4>
    <h4>Type /hospital-name/MeetscriteriaforpromotinginteroperabilityofEHRs</h4>
        <h4>Type /hospital-name/Hospitaloverallrating</h4>
        <h4> Type /hospital-name/Hospitaloverallratingfootnote </h4>
    <h4>Type /hospital-name/MORTGroupMeasureCount </h4>
    <h4>Type /hospital-name/CountofFacilityMORTMeasures</h4>
    <h4>Type /hospital-name/CountofMORTMeasuresBetter </h4>
    <h4>Type /hospital-name/CountofMORTMeasuresNoDifferent </h4>
    <h4>Type /hospital-name/CountofMORTMeasuresWorse</h4>
    <h4>Type /hospital-name/MORTGroupFootnote</h4>
    <h4>Type /hospital-name/SafetyGroupMeasureCount</h4>
    <h4>Type /hospital-name/CountofFacilitySafetyMeasures</h4>
    <h4>Type /hospital-name/CountofSafetyMeasuresBetter</h4>
    <h4>Type /hospital-name/CountofSafetyMeasuresNoDifferent</h4>
    <h4>Type /hospital-name/CountofSafetyMeasuresWorse</h4> 
    <h4>Type /hospital-name/SafetyGroupFootnote</h4>
    <h4>Type /hospital-name/READMGroupMeasureCount</h4>
    <h4>Type /hospital-name/CountofFacilityREADMMeasures</h4>
    <h4>Type /hospital-name/CountofREADMMeasuresBetter</h4>
    <h4>Type /hospital-name/CountofMORTMeasuresNoDifferent</h4>
    <h4>Type /hospital-name/CountofMORTMeasuresWorse</h4>
    <h4>Type /hospital-name/READM Group Footnote</h4>
    <h4>Type /hospital-name/Pt Exp Group Measure Count</h4>
    <h4>Type /hospital-name/Count of Facility Pt Exp Measures</h4>
    <h4>Type /hospital-name/Pt Exp Group Footnote</h4>
    <h4>Type /hospital-name/TE Group Measure Count</h4>
    <h4>Type /hospital-name/Count of Facility TE Measures</h4>
    <h4>Type /hospital-name/TE Group Footnote</h4>

    

  </body>
</html>